.selectpicker-button {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 6px 12px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    background-image: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    font-family: inherit;
    overflow: hidden;
    height: 34px;
}

.dropdown-menu-select {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    min-height: 0px;
}

div.selectpicker-group.open > div.dropdown-menu-select {
    visibility: visible;
}

div.selectpicker-group:not(.open) > div.dropdown-menu-select {
    visibility: hidden;
}

.select-option-list {
    max-height: 125.4px;
    overflow-y: auto;
    min-height: 0px;
}

.selectpicker-value {
    display: inline-block;
    margin:auto;
    margin-left: 0px;
    overflow: hidden;
}

.caret {
    margin: 8px;
    margin-right: 0;
    width: 0;
    height: 0;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.selectpicker-button.focus, .selectpicker-button:focus, .selectpicker-button:hover, .selectpicker-button:active {
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.selectpicker-button:active:focus, .selectpicker-button:active:hover {
    color: #333;
    text-decoration: none;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.selectpicker-button > option {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;

    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
}

.selectpicker {
    visibility: hidden;
    z-index: -98;
}

.placeholder {
    color: #888;
}
