.dropdown-menu-select {
    border: 1px solid $selectpicker-default-border-unselected;
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    min-height: 0px;
}

div.selectpicker-group.open > div.dropdown-menu-select {
    visibility: visible;
}

div.selectpicker-group:not(.open) > div.dropdown-menu-select {
    visibility: hidden;
}


.select-option-list {
    max-height: 125.4px;
    overflow-y: auto;
    min-height: 0px;
    margin-left: 0;
    padding-left: 0;
}

.selectpicker-value {
    display: inline-block;
    margin:auto;
    margin-left: 0px;
    overflow: hidden;
}

.select-option-list > li {
    list-style:none;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.select-option-list > li:hover {
    background: $selectpicker-primary-unselected;
    color: $selectpicker-primary-text-color;
}
