$selectpicker-placeholder-color: #888;
$selectpicker-text-color: #333;

$selectpicker-default-border-hover: #adadad;
$selectpicker-default-border-selected: #8c8c8c;

$selectpicker-default-hover: #e6e6e6;
$selectpicker-default-selected: #d4d4d4;

$selectpicker-default-unselected: #fff;
$selectpicker-primary-unselected: #337ab7;
$selectpicker-info-unselected: #31b0d5;
$selectpicker-success-unselected: #449d44;
$selectpicker-warning-unselected: #ec971f;
$selectpicker-danger-unselected: #c9302c;


$selectpicker-default-border-unselected: #ccc;
$selectpicker-primary-border-unselected: #2e6da4;
$selectpicker-info-border-unselected: #269abc;
$selectpicker-success-border-unselected: #398439;
$selectpicker-warning-border-unselected: #d58512;
$selectpicker-danger-border-unselected: #ac2925;

$selectpicker-default-text-color: #000;
$selectpicker-primary-text-color: #FFF;
$selectpicker-info-text-color: #FFF;
$selectpicker-success-text-color: #FFF;
$selectpicker-warning-text-color: #FFF;
$selectpicker-danger-text-color: #FFF;

$selectpicker-default-option-background: #f5f5f5;
